<div class="col-sm-4">
    <div class="row">
        <div class="col-sm-12 buscador">
            <div class="row">
                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-1 col-2">
                    <i class="fas fa-search fa-lg logo-buscar"></i>
                </div>
                <div class="col-xl-11 col-lg-10 col-md-10 col-sm-11 col-10">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Buscar" placeholder="Busca por...">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 option-search">
            <div class="list-group letrasBuscador">
                {{#if letras}}
                    {{#each letras}}
                        <a href="/letra/{{this.url}}" data-letra={{this.idLetra}} class="list-group-item list-group-item-action visitasBuscador">
                            {{this.nombreCancion}}
                        </a>
                    {{/each}}
                {{else}}
                    <a href="#" class="list-group-item list-group-item-action">
                            No se han registrado letras.
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>