<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#crearGrupo">
    Crear un nuevo grupo
</button>

<!-- Modal -->
<div class="modal fade" id="crearGrupo" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="crearGrupoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearGrupoLabel">Creacion de un Nuevo Grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="POST" enctype="multipart/form-data" class="was-validated">

                <div class="modal-body text-left">
                    <div class="alert alert-danger" role="alert" id="errorNombre">
                        <h4 class="alert-heading">Error!</h4>
                        <p>No digitaste un valor esperado en este campo</p>
                    </div>
                    <div class="form-group">
                        <label for="txtNombreGrupo">Nombre del grupo:</label>
                        <input type="text" class="form-control" minlength="3" maxlength="45" id="txtNombreGrupo"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="txtImagenGrupo">Cargar imagen del Grupo: </label>
                        <input type="file" class="form-control" id="txtImagenGrupo"
                            required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>