<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{nombrePagina}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body class="musica">
    <div class="container">
        <header class="header">
            <div class="row">
                <div class="col-sm-12">
                    <img src="assets/img/logo.png" alt="Logo" class="img-thumbnail float-left logo">
                    <div class="float-right redes-sociales">
                        <img src="assets/img/face.png" alt="Facebook" class="img-thumbnail">
                        <img src="assets/img/twitter.png" alt="Twitter" class="img-thumbnail">
                        <img src="assets/img/instagram.png" alt="Instagram" class="img-thumbnail">
                        <img src="assets/img/amazon.png" alt="Amazon" class="img-thumbnail">
                        <img src="assets/img/youtube.png" alt="Youtube" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </header>