{{> head}}

{{> navbar }}
<div class="row">
    <div class="col-sm-8">
        <div class="row m-3">
            <div class="col-sm-12 text-right">
                {{> crearGrupoModal}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 contenido">
                <div class="card">
                    <div class="card-header">
                        <h3>Los Hombres G</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">La cagaste... Burt Lancaster</h4>
                        <div class="row">
                            <div class="col-md-7">
                                <p class="card-text text-justify">En febrero de 1986 el grupo volvió a los estudios para
                                    grabar su segundo álbum, que pasó a titularse como una de sus primeras
                                    canciones: La cagaste... Burt Lancaster, aunque ésta no fuera incluida en el álbum
                                    por considerarse que "sonaba mal".
                                    Un mes antes de estar en las tiendas ya tenían peticiones en firme por más de
                                    100.000 unidades, cifra que sería ampliamente
                                    superada en cuanto el disco apareció en el mercado. Para esa ocasión recuperaron
                                    otro de los temas publicados en los
                                    sencillos de Lollipop, "Marta tiene un marcapasos", que sería uno de los tres
                                    sencillos que llegaron al número uno de
                                    las listas de ventas españolas.</p>
                            </div>
                            <div class="col-md-5 align-self-center">
                                <img src="assets/img/hombresg.jpg" alt="Banda Hombres G"
                                    class="img-content img-thumbnail">
                            </div>
                        </div>
                        <div class="row comentario">
                            <div class="col-xl-1 col-lg-1 col-md-2 col-sm-1 col-2 hidden-sm hidden-xs">
                                <i class="fas fa-user fa-3x logo-user"></i>
                            </div>
                            <div class="col-xl-11 col-lg-11 col-md-10 col-sm-11 col-10 form-group">
                                <textarea class="form-control" placeholder="Comentario"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> buscador}}
</div>
{{> footer}}