{{> head}}

{{> navbar }}
<div class="row">
    <div class="col">
        <h1>Bienvenidos a la pagina Letras</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum magnam nobis suscipit earum repudiandae
            possimus. Excepturi, earum? Quasi illo aliquam ipsum placeat maxime quidem, fugit repudiandae asperiores,
            provident delectus saepe!</p>
    </div>
    <div class="col">
        <img src="assets/img/aerosmith.jpg" class="img-thumbnail">
    </div>
    {{> buscador}}
</div>
{{> footer}}