.logo {
    width: 75px;
    margin-top: 5px;
}

.redes-sociales {
    margin-top: 25px;
}

.nav-bar {
    margin-top: 5px;
}

.navbar {
    border-radius: 5px;
}

.buscador {
    margin-top: 20px;
}

.logo-buscar {
    margin-top: 12px;
}

.contenido {
    margin-top: 20px;
}

.comentario {
    margin-top: 20px;
}

.logo-user {
    margin-top: 8px;
}

.img-content {
    margin-top: 10px;
}

.completo {
    color: purple;
}